body {
  background: url(../images/bg.png) repeat;
  font-family: 'Open Sans', sans-serif;
}

.main-signin {
  box-shadow: 0px 10px 20px #000;
  width: 100%;
  max-width: 700px;
  margin: 60px auto;
}
.main-signin .main-signin__head {
  background: #242328;
  border-bottom: 1px solid #2d2f32;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 1px 0px #000;
  padding: 12px 0;
}
.main-signin .main-signin__head p {
  color: #586069;
  text-align: center;
}
.main-signin .main-signin__middle {
  background: #1f1e23;
  border-bottom: 1px solid #2d2f32;
  border-top: 1px solid #2d2f32;
  box-shadow: 0px 1px 0px #000;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.item_section {
    width: 50%;
}

.item_box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-signin .main-signin__middle .middle__form {
  margin: 40px 0 20px 0;
}
.main-signin .main-signin__middle .middle__form ::-webkit-input-placeholder {
  color: #25262a;
}
.main-signin .main-signin__middle .middle__form :-moz-placeholder {
  color: #25262a;
}
.main-signin .main-signin__middle .middle__form ::-moz-placeholder {
  color: #25262a;
}
.main-signin .main-signin__middle .middle__form :-ms-input-placeholder {
  color: #25262a;
}
.item {
  background: #daf4fe;
  border-radius: 5px;
  border: none;
  color: #25262a;
  display: block;
  margin: 0 20px 20px 20px;
  outline: none;
  padding:15px 20px;
  min-width: 150px;
}

.main-signin .main-signin__middle .middle__form input[type="password"] {
  border-top: 1px solid #acabab;
}

.button_section {
  display: flex;
  justify-content: center;
  background: #1f1e23;
}

.btn {
  background: #00aeef;
  border-radius: 5px;
  border: 1px solid #80d6f7;
  color: #fff;
  font-size: 16px;
  margin: 15px;
  padding: 15px 30px;
  cursor:pointer;
  text-transform: uppercase;
}

.btn_clear {
  background: #ff4837;
  border: 1px solid #ff4837;
}

.has-error {
  border: solid red 2px;
}

.warning_error {
  color: red;
  position: absolute;
  font-size: 12px;
  left: 20px;
  bottom: 0;
}

.main-signin .main-signin__middle .middle__form input[type="submit"]:active {
  background: #80d6f7;
}
.main-signin .main-signin__foot {
  background: #242328;
  border-top: 1px solid #2d2f32;
  border-radius: 0 0 10px 10px;
  float: left;
  padding: 12px 0;
  width: 100%;
}

.main-signin__middle .item_section .description_box {
  height: 208px;
}

.main-signin__middle .item_section .description_box .item {
  height: 145px;
  margin-bottom: 0;
}

.main-signin__middle .item_section .description_box .fix_height {
  height: 155px;
}

.main-signin .main-signin__foot .foot__left {
  float: left;
  padding: 0 0 0 6%;
  width: 56%;
}
.main-signin .main-signin__foot .foot__left p {
  color: #586069;
  margin: 0;
  padding: 16px 0 0 0;
  text-transform: uppercase;
}
.main-signin .main-signin__foot .foot__right {
  float: left;
  width: 38%;
}
.main-signin .main-signin__foot .foot__right .twit,
.main-signin .main-signin__foot .foot__right .face {
  float: left;
}
.main-signin .main-signin__foot .foot__right .twit a,
.main-signin .main-signin__foot .foot__right .face a {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: block;
  margin: -12px 0;
  text-indent: -999em;
  width: 85px;
  height: 77px;
}
.main-signin .main-signin__foot .foot__right .twit a:hover,
.main-signin .main-signin__foot .foot__right .face a:hover {
  background-color: #2d2f32;
}
.main-signin .main-signin__foot .foot__right .twit a {
  background: url(../images/twitter.png) no-repeat center;
}
.main-signin .main-signin__foot .foot__right .face a {
  background: url(../images/facebook.png) no-repeat center;
  border-radius: 0 0 10px 0;
}

@media screen and (max-width: 500px) {
  .main-signin__middle {
    flex-direction: column;
  }
  .main-signin .main-signin__middle .middle__form {
    margin: 0;
  }

  .item_section {
    width: 100%;
  }
}
